.button {
	-fx-background-color: white;
	-fx-background-radius: 15;
	-fx-background-insets: 0 0 0 0, 0, 0, 0;
	-fx-text-fill: black;
	-fx-border-color: black;
	-fx-border-width: 1.25;
	-fx-border-radius: 15;
}

.label {
	-fx-text-fill: black;
}